<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Carta</title>
</head>
<body>
    <div class="header">
        <h1 class="header__title"> Nombre Restaurante</h1>
        <h4 class="header__tipo">RESTAURANTE</h4>
    </div>

    <!-- categoria ¨Principal -->
    <div class="categoria-p">
        <h2 class="categoria-p__nombre"> NOMBRE DEL PLATO PRINCIPAL </h2>
        <p class="categoria-p__descripcion">Lorem ipsum dolor sit amet consectetur adip</p>
        <div class="categoria-p__precios">
            <div class="categoria-p__precios__n">
                <h3 class="categoria-p__precios__n__tamaño">TAMAÑO</h3>
                <h2 class="categoria-p__precios__n__precio">$ 00.00</h2>
            </div>
            <div class="categoria-p__precios__n">
                <h3 class="categoria-p__precios__n__tamaño">TAMAÑO</h3>
                <h2 class="categoria-p__precios__n__precio">$ 00.00</h2>
            </div>
            <div class="categoria-p__precios__n">
                <h3 class="categoria-p__precios__n__tamaño">TAMAÑO</h3>
                <h2 class="categoria-p__precios__n__precio">$ 00.00</h2>
            </div>
        </div>
    </div>
    <!-- categoria 1 -->       
    <div class="categoria">
        <h2 class="categoria__nombre"> Categoria 1</h2>

        <!-- producto 1 -->
        <div class="categoria__prod">
            <div class="categoria__prod__p1">
                <h3 class="categoria__prod__p1__nombre"> Producto 1</h1>
                    <h3 class="categoria__prod__p1__precio">$ 00.00</h3>
            </div>  
            <p class="categoria__prod__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae </p>
        </div>

        <!-- producto 2 -->
        <div class="categoria__prod">
            <div class="categoria__prod__p1">
                <h3 class="categoria__prod__p1__nombre"> Producto 1</h1>
                    <h3 class="categoria__prod__p1__precio">$ 00.00</h3>
            </div>  
            <p class="categoria__prod__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae </p>
        </div>
    </div>
    
    <!-- categoria 1 -->       
    <div class="categoria">
        <h2 class="categoria__nombre"> Categoria 1</h2>

        <!-- producto 1 -->
        <div class="categoria__prod">
            <div class="categoria__prod__p1">
                <h3 class="categoria__prod__p1__nombre"> Producto 1</h1>
                    <h3 class="categoria__prod__p1__precio">$ 00.00</h3>
            </div>  
            <p class="categoria__prod__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae </p>
        </div>
        
        <!-- producto 2 -->
        <div class="categoria__prod">
            <div class="categoria__prod__p1">
                <h3 class="categoria__prod__p1__nombre"> Producto 1</h1>
                    <h3 class="categoria__prod__p1__precio">$ 00.00</h3>
            </div>  
            <p class="categoria__prod__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae </p>
        </div>
    </div>      

</body>
</html>