<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- categoria Principal -->

    <!-- categorias -->
    <div class="cat">
        <h3 class="cat__title"></h3>
        <div class="cat__plato">
            <h3 class="cat__plato__name"></h3>
            <div class="cat__plato__subname">
                <p class="cat__plato__subname__des">Lorem ipsum dolor, sit amet consectetur 
                      reprehenderit totam iste veniam itaque similique repudiandae!</p>
                <h3 class="cat__plato__subname__precio"></h3>
            </div>
        </div>
    </div>
</body>
</html>