
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Amatic+SC:wght@700&family=Antic+Slab&family=Asap+Condensed&family=Cinzel:wght@500&family=Krona+One&family=Raleway:wght@100&family=Train+One&display=swap');


$ff1: 'Cutive Mono', monospace;
$ff2: 'Amatic SC', cursive;
$ff3: 'Antic Slab', serif;
$ff4: 'Asap Condensed', sans-serif;
$ff5: 'Cinzel', serif;
$ff6: 'Krona One', sans-serif;
$ff7: 'Raleway', sans-serif;
$ff8: 'Train One', cursive;

$c1: black;
$c2:white;
$c3: #FDF6F0;
$c4: #76323F;
$c5: #444444;
$c6: #ff0000;
$c7: linear-gradient(red, yellow);

body{
    background-color: $c3;
    border-left: thick solid $c6;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    margin-top: 1em;
    &__title{
        color: $c4;
        font-family: $ff2;
    }
    &__tipo{
        margin-top: 0.5em;
        color: $c4;
        font-family: $ff3;
    }
}

.categoria-p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    //align-items: center; 
    text-align: center;   
    margin: 0 1em .5em 1em;
    &__nombre{
        font-family: $ff7;
        margin-bottom: -0.8em;
        font-weight: 800;        
    }
    &__descripcion{
        font-family: $ff3;
        margin-bottom: 0;
    }
    &__precios{
        display: flex;
        justify-content: space-between;
        
        &__n{
            &__tamaño{
                margin-bottom: -0.8em;
                font-family: $ff4;
            }
            &__precio{
                font-family: $ff7;
            }
        }
    }
}
.categoria{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5em 1.5em 1.5em;
    &__nombre{
        color: $c1;
        font-family: $ff7;
        margin-bottom: 0.2em;
    }
    &__prod{
        display: flex;
        justify-content: start;
        flex-direction: column;
        &__p1{
            display: flex;
            justify-content: space-between; 
            line-height: 0%; 
            font-family: $ff7; 
            margin-bottom: -0.8em;        
            &__nombre{
                color: $c4;                
            }
            &__precio{
                color: $c1;
            }
        }
        &__descripcion{
            margin-top: 0;
            color: $c5;
            font-family: $ff3;
        }
    }
}