
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC:wght@700&family=Antic+Slab&family=Asap+Condensed&family=Cinzel:wght@500&family=Lexend+Zetta&family=Raleway:wght@100&family=Train+One&display=swap');


$font-family1: 'Allura', cursive;
$font-family2: 'Amatic SC', cursive;
$font-family3: 'Antic Slab', serif;
$font-family4: 'Asap Condensed', sans-serif;
$font-family5: 'Cinzel', serif;
$font-family6: 'Lexend Zetta', sans-serif;
$font-family7: 'Raleway', sans-serif;
$font-family8: 'Train One', cursive;

$color-fondo1:beige;
$color-fondo2:ghostwhite;
$color-fondo3: black;

$color-title: #76323F;



.cabecera{
    color: rgb(24, 23, 23);
}